body{
    background-color: #FBF2F0;
    font-family: 'Inter', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    margin-left: 250px;
    font-size: 24px;
    margin-top: 20px;
}

p{
    display: flex;
    justify-content: center;
}


button{
    color: #ffffff;
    gap: 10px;
    margin-bottom: 38px;
    background-color: #E06442;
    width: 859px;
    height: 60px;
    padding: 10px 50px 10px 50px;
    border-radius: 50px;
    border: 2px solid #E06442;;
}

button:active{
    background-color: #A73729;
}

div{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


span{
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    
}